@import "../../_StyleVariables";

.HomePage {
  font-family: $secondaryFontFamily;
  width: 90vw;
  margin: 4rem;
}

@include media-breakpoint-down(sm) {
  .HomePage {
    width: 100%;
    margin: 0;
  }
}
