@import "../../StyleVariables";

.navbar {
  margin: 2rem 4rem;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  font-family: $secondaryFontFamily;

  .links {
    margin-top: 0.5em;
    display: flex;
    width: 12rem;
    justify-content: space-between;
    a {
      font-family: $mainFontFamily;
      text-transform: uppercase;
      text-decoration: none;
      color: $primaryColor;
    }
  }
  .name {
    margin: 0 2rem;
    text-decoration: none;
    color: $primaryColor;
    font-size: 1.2rem;

    p {
      margin: 0;
      text-align: center;
    }

    .lastName {
      transform: rotateX(180deg);
    }

    .firstName {
      margin-top: 0.5em;
    }

    &:hover {
      .firstName {
        margin-top: 0;
        transform: rotateX(180deg);
      }

      .lastName {
        transform: rotateX(0);
        margin-top: 0.5em;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .navbar {
    margin: 2rem;

    .name {
      margin: 0;
    }
  }
}

@include media-breakpoint-down(sm) {
  .navbar {
    width: 100%;
    margin: 2rem 0;
    flex-direction: column;

    .links {
      width: 60%;
      align-self: center;
      margin-top: 2rem;
      justify-content: space-evenly;
    }
  }
}
