@import "../../_StyleVariables";


.singleProject {
  margin:6rem;
  .partOne {
    display: flex;
    justify-content: space-between;
 }
  // .mainImgBlock {
   
    .tablet {
     
      position: relative;
      width: 40rem;
      height: auto;
      z-index: 1;
      opacity: .4;
    }
    .mainImg {
      width: 38rem;
      height: 27rem;
      position: absolute;
      object-fit: cover;
      right: 7rem;
      margin-top:1rem;
     

    }

  .workWelcome {
    color: $primaryColor;
    font-weight: 300;
    font-size: 4rem;

  }
  .workAbout {
    color: $secondaryColor;
    font-size: 1rem;
   margin-right:4rem;

    font-family: $mainFontFamily;
  }
}

@include media-breakpoint-down(md) {
  .projects {
  }
}

@include media-breakpoint-down(sm) {
}
