@import "../../StyleVariables";

.project {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.sideLine {
  background-color: #fc9191;
  width: 1.2rem;
  height: 100vh;
  z-index: 1;
}

.page {
  box-sizing: border-box;
  background-color: #a8d3d3;
  font-family: $secondaryFontFamily;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 16rem;

  .imgDiv {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .imgShadow {
    //  position: absolute;
    align-self: center;
    width: 40rem;
    height: 22rem;
    background-color: red;
    z-index: 5;
    clip-path: inset(5% 0 5% 0);
  }

  img {
    width: 40rem;
    height: auto;
    align-self: center;
    animation: imgClip 2s linear infinite;
    animation: imgMove 2s linear infinite alternate;

    // transform: rotate(45deg);
    // transform-origin: 20% 40%;
  }

  // @keyframes imgClip {
  //   0% {
  //     clip-path: inset(20% 0 20% 0);
  //   }
  //   100% {
  //     clip-path: inset(20% 0 20% 0);
  //   }
  // }
  // @keyframes imgMove {
  //   0% {
  //     transform: translateY(0);
  //   }
  //   100% {
  //     transform: translateY(-3rem);
  //   }
  // }
  #root {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: radial-gradient(ellipse at center, #eef0f2 0%, #90a2b2 100%);
  }
 

  .content {
    width: 50%;
    padding-top: 18rem;
    padding-left: 8rem;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    font-size: 1.2rem;
  }

  h1 {
    font-family: $mainFontFamily;
    font-weight: 700;
    color: #fc9191;
    font-size: 7rem;
    margin: 0;
    padding: 0;
  }

  button {
    width: 12rem;
    display: flex;
    align-items: center;
    align-content: center;
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    padding: 0;
    font-weight: bold;
    svg {
      fill: #fc9191 !important;
      width: 1.6rem;
      margin-left: 1rem;
    }
  }
}
